.actions-card{
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  gap: .5rem;
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--secondary-color);
}

.reset{
    background: transparent;
    color:#b91c1c;
}

.reset:hover{
    background: var(--primary-color);
}

