:root{
  --primary-color: #f3f4f6;
  --secondary-color: #ffffff;
}

body {
  background-color: var(--primary-color);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1{
  margin: .4rem 0;
  font-weight: 700;
}

.app-container{
  display: flex;
  
}

.cv-builder{
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-items: center;
  gap: 1.5rem;
}

.card{
  display: flex;
  flex-direction: column;
  
  border-radius: 1rem;
  gap: .5rem;
  padding: 1rem;
  width: 50%;
  background-color: var(--secondary-color);
}

.card form{
  display: flex;
  flex-direction: column;
}

.card input {
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: inherit;
  background-color: var(--primary-color);
}

.cv-preview{
  width: 45vw;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
}

.general-prvw{
  
  background-color: rgba(58, 58, 133, 0.664);

}

.name-prvw{
  display: flex;
  justify-content: center;
}

.general-details{
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

.education-prvw{
  padding: 1rem;
}

.education-item{
  cursor: pointer;
  margin: .3rem 1rem;
  border-top: 2px solid var(--primary-color);
  width: 60%;
}

.experience-prvw{
  padding: 1rem;
}