.cv-preview{
    margin-top: 1rem;
   margin-right: 2rem;
    width: 60vw;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
}

.general-prvw{
  color: var(--secondary-color);
  background-color: rgba(58, 58, 133, 0.664);

}

.name-prvw{
  display: flex;
  justify-content: center;
}

.general-details{
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

.education-prvw{
  padding: 1rem;
}

.experience-prvw{
    padding: 1rem;
}

.title{
    background-color: var(--primary-color);
    padding: .5rem 0;
    color: #7c7cae;
    text-align: center;
}

.education-info{
    font-size: 1rem;
    display: flex;
    gap: 2rem;
    
}

.education-info-group{
    min-width: 150px;
}

.bold-text{
    font-weight: 600;
    
}

.titleAndPosition p{
    margin-bottom: 0;
}

.experience-info{
    display: flex;
    gap: 2rem;
}



.experience-info-group{
    min-width: 150px;
}

.experience-info-group p{
    margin-left: 0;
    
}